body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-text{
	font-size: 48px;
	font-family: 'Raleway', serif;
}

.md-text{
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.lr-text{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.problems{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 400px;
	left: 600px;
	z-index: 2;
	color: #fff;
}

.install{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 475px;
	left: 675px;
	z-index: 2;
	color: #4da1ff;
}

.bgvideo{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.join-comp{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 365px;
	left: 500px;
	z-index: 2;
	color: #fff;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
}

.text-jc{
	opacity: 0;
  transition: 2s ease;
	position: absolute;
	top: 400px;
	left: 500px;
	z-index: 2;
	color: #4da1ff;
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
}

.subs{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 475px;
	left: 500px;
	z-index: 2;
	color: #fff;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
}

.costsub{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 510px;
	left: 500px;
	z-index: 2;
	color: #4da1ff;
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
}

.cost{
	opacity: 0;
	transition: 2s ease;
	position: absolute;
	top: 520px;
	left: 715px;
	z-index: 2;
	color: #666;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.wingsblue{
	position: absolute;
	top: 600px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

.wingsgrey{
	position: absolute;
	top: 680px;
	left: 0px;
	z-index: 2;
	width: 100%;
}

.googlebutt{
	position: absolute;
	top: 1000px;
	left: 700px;
	z-index: 3;
}
.applebutt{
	position: absolute;
	top: 1000px;
	left: 1000px;
	z-index: 3;
}

.mouse{
	position: absolute;
	top: 1080px;
	left: 930px;
	z-index: 3;
}

.mousewheel{
	position: absolute;
	top: 1085px;
	left: 936px;
	z-index: 3;	
}

/**That means headline-how works**/
.hl-hw{
	position: absolute;
	top: 1300px;
	left: 800px;
	z-index: 3;
	color: #162f4c;
}

.texthow{
	position: absolute;
	top: 1400px;
	left: 300px;
	text-align: center;
	z-index: 2;
	color: #162f4c;
}

.shakehands{
	position: absolute;
	top: 1500px;
	left: 400px;
	opacity: 0.5;
	z-index: 2;
}

/**Background for video, about how work app**/
.bgrblue{
	position: absolute;
	top: 700px;
	left: 0px;
	width: 100%;
}

.videohw{
	position: absolute;
	top: 1550px;
	left: 550px;
	z-index: 2;
}

.secondvideohw{
	position: absolute;
	top: 1550px;
	left: 1150px;
	z-index: 3;
}

.textvideohw{
	position: absolute;
	top: 1900px;
	left: 920px;
	color: #4da1ff;
	z-index: 3;
}

.clouds{
	position: absolute;
	top: 900px;
	left: 0px;
	z-index: 2;
	width: 100%;
}

.typewings{
	position: absolute;
	top: 2020px;
	left: 0px;
	z-index: 3;
	width: 100%
}

.typewingsblue{
	position: absolute;
	top: 2070px;
	left: 0px;
	z-index: 3;
	width: 100%
}

.typebg{
	position: absolute;
	top: 2070px;
	left: 0px;
	z-index: 3;
	width: 100%
}


/**background bottom wings**/
.bg-bt-wg{
	position: absolute;
	top: 3020px;
	left: 0px;
	z-index: 2;
	width: 100%;
}

.bg-bt-wg-second{
	position: absolute;
	top: 2990px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

.typeclouds{
	position: absolute;
	top: 2370px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

/**headline type of parking**/
.hl-top{
	position: absolute;
	top: 2550px;
	left: 820px;
	color: #fff;
	z-index: 3;
}

.bggarage{
	position: absolute;
	top: 2775px;
	left: 250px;
	z-index: 3;
}

.garageimg{
	position: absolute;
	top: 2835px;
	left: 315px;
	z-index: 3;
}

.garages{
	position: absolute;
	top: 2925px;
	left: 125px;
	z-index: 3;
	color: #fff;
}

.garages:after {
  content: attr(data-parent);
  font-size: 30px;
}

.garages:before {
  content: attr(data-parent);
  text-shadow: 140px 20px #000;
  color: transparent;
  font-size: 40px;
}

.textgg{
	position: absolute;
	top: 3000px;
	left: 190px;
	z-index: 3;
	text-align: center;
	color: #8994a1;
}

.bgstreetparking{
	position: absolute;
	top: 2775px;
	left: 900px;
	z-index: 3;
}

.streetparkingimg{
	position: absolute;
	top: 2825px;
	left: 975px;
	z-index: 3;
}

.streetparking{
	position: absolute;
	top: 2925px;
	left: 625px;
	z-index: 3;
	color: #fff;
}

.streetparking:after {
  content: attr(data-parent);
  font-size: 30px;
}

.streetparking:before {
  content: attr(data-parent);
  text-shadow: 230px 20px #000;
  color: transparent;
  font-size: 40px;
}

.text-sp{
	position: absolute;
	top: 3000px;
	left: 850px;
	z-index: 3;
	text-align: center;
	color: #8994a1;
}

.bgprivateparking{
	position: absolute;
	top: 2775px;
	left: 1550px;
	z-index: 3;
}

.privateparkingimg{
	position: absolute;
	top: 2825px;
	left: 1610px;
	z-index: 3;
}

.privateparking{
	position: absolute;
	top: 2925px;
	left: 1250px;
	z-index: 3;
	color: #fff;
}

.privateparking:after {
  content: attr(data-parent);
  font-size: 30px;
}

.privateparking:before {
  content: attr(data-parent);
  text-shadow: 250px 20px #000;
  color: transparent;
  font-size: 40px;
}

.text-pp{
	position: absolute;
	top: 3000px;
	left: 1490px;
	z-index: 3;
	text-align: center;
	color: #8994a1;
}

/**parking space**/
.ps{
	position: absolute;
	top: 3850px;
	left: 650px;
	color: #4da1ff;
	z-index: 2;
	text-align: center;
	color: #162f4c;
}

.blocks{
	position: absolute;
	top: 2750px;
	left: 0px;
	opacity: 0.3;
	z-index: 1;
	width: 100%;
}

.ei{
	position: absolute;
	top: 4100px;
	left: 650px;
	color: #162f4c;
}

.phone{
	position: absolute;
	top: 4200px;
	left: 1000px;
	z-index: 2;
}

.address{
	position: absolute;
	top: 4250px;
	left: 560px;
	z-index: 2;
}

.price{
	position: absolute;
	top: 4380px;
	left: 525px;
	z-index: 2;
}

.timelimits{
	position: absolute;
	top: 4510px;
	left: 500px;
	z-index: 2;
}

.spots{
	position: absolute;
	top: 4640px;
	left: 550px;
	z-index: 2;
}

.bgrbenefits{
	position: absolute;
	top: 5000px;
	left: 0px;
	z-index: 5;
	width: 100%;
}

.headbg{
	position: absolute;
	top: 5000px;
	left: 0px;
	z-index: 6;
	width: 100%;
}

.headbg-lines{
	position: absolute;
	top: 5035px;
	left: 0px;
	z-index: 7;
	width: 100%;
}

.wingsbenefit{
	position: absolute;
	top: 5450px;
	left: 0px;
	z-index: 5;
	width: 100%;
}

.wingsbenefit-second{
	position: absolute;
	top: 5550px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

.wingsbenefit-third{
	position: absolute;
	top: 5550px;
	left: 0px;
	z-index: 2;
	width: 100%;
}

.wingsbenefit-fourth{
	position: absolute;
	top: 5550px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

.wingsbenefit-fiveth{
	position: absolute;
	top: 5550px;
	left: 0px;
	z-index: 3;
	width: 100%;
}

.lb{
	position: absolute;
	top: 5000px;
	left: 0px;
	z-index: 5;
	width: 100%;
}

.hl-mb{
	position: absolute;
	top: 5100px;
	left: 750px;
	z-index: 5;
	color: #fff;
}

.cardprotection{
	position: absolute;
	top: 5250px;
	left: 250px;
	width: 350px;
	height: 180px;
	text-align: center;
	border-radius: 10px;
	background-color: #03254b;
	z-index: 6;
	font-family: 'Raleway', sans-serif;
}

.cardpaymeter{
	position: absolute;
	top: 5250px;
	left: 750px;
	width: 350px;
	height: 180px;
	text-align: center;
	border-radius: 10px;
	background-color: #03254b;
	z-index: 6;
	font-family: 'Raleway', sans-serif;
}

.cardcommercial{
	position: absolute;
	top: 5250px;
	left: 1250px;
	width: 350px;
	height: 180px;
	text-align: center;
	border-radius: 10px;
	background-color: #03254b;
	z-index: 6;
	font-family: 'Raleway', sans-serif;
}

.logo{
	position: absolute;
	top: 6400px;
	left: 900px;
}

.ourmission{
	position: absolute;
	top: 6800px;
	left: 850px;
	color: #162f4c;
}

.text-om{
	position: absolute;
	top: 6900px;
	left: 400px;
	color: #162f4c;
	text-align: center;
}

.footer{
	position: absolute;
	top: 7100px;
	width: 100%;
}

.rights{
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #8994a1;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

/**Buttons for downloading app in footer**/
.bg-footer{
	position: absolute;
	bottom: 40px;
	left: 700px;
}

.ba-footer{
	position: absolute;
	bottom: 40px;
	left: 1100px;
}

.googlefavicon{
	position: absolute;
	bottom: 40px;
	left: 1630px;
}

.twitterfavicon{
	position: absolute;
	bottom: 40px;
	left: 1660px;
}

.facebookfavicon{
	position: absolute;
	bottom: 43px;
	left: 1700px;
}

.animphone {
  opacity: 0;
  transition: 1s ease;
  position: absolute;
  top: 250px;
  left: 100px;
  z-index: 2;
  }